ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.page-single {
  background-color: #ffffff ;
  padding: 25px;
}
/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
	background: #000;
	width: 150px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (max-width: 991px) {
  .ipad-width {
    max-width: 550px;
    margin: 0 auto;
  }
  .sidebar {
    margin-left: 0;
  }
}

.col8,.col12, .imgcol12{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .imgcol12 {
    float: left;
    width: 100%;
  }
.col12 {
  float: left;
  width: 100%;
  }  
}
@media (min-width: 992px) {
  .col8{
    float: left;
    width: 66.66666667%;
  }
}
.topbar-filter {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .topbar-filter {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
  }
}
.topbar-filter p {
  padding-right: 200px;
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .topbar-filter p {
    padding-right: 0;
  }
}
.topbar-filter p span {
  color: #4280bf;
}
.topbar-filter label,
.topbar-filter select {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  color: black;
  font-weight: 300;
  text-transform: none;
}
.topbar-filter select {
  width: 215px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('../images/uploads/drop-icon.png') no-repeat right 20px center;
  border-left: 1px solid #405266;
  border-right: 1px solid #405266;
  border-top: none;
  border-bottom: none;
  color: #ffffff;
  font-weight: 400;
}
@media (max-width: 767px) {
  .topbar-filter select {
    border: 1px solid #405266;
  }
}
.topbar-filter option {
  background-color: #020d18;
}
.topbar-filter .list,
.topbar-filter .grid {
  font-size: 16px;
  color: black;
  margin-left: -15px;
}
.topbar-filter .list i,
.topbar-filter .grid i {
  width: 40px;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
}
.topbar-filter .list {
  border-right: 1px solid #405266;
}
@media (max-width: 767px) {
  .topbar-filter .list {
    border: none;
  }
}
.topbar-filter .active,
.topbar-filter i:hover {
  color: #dcf836;
}
.topbar-filter .pagination2 {
  padding-left: 100px;
}
@media (max-width: 767px) {
  .topbar-filter .pagination2 {
    padding-left: 0;
    margin-top: 15px;
  }
}
.topbar-filter .pagination2 span {
  margin-right: 15px;
}
.topbar-filter .pagination2 span,
.topbar-filter .pagination2 a {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  color: black;
  font-weight: 300;
  text-transform: none;
}
.topbar-filter .pagination2 a {
  padding-left: 5px;
  padding-right: 5px;
  color: #4280bf;
}
.topbar-filter .pagination2 a.active,
.topbar-filter .pagination2 a:hover {
  color: #dcf836;
}
.topbar-filter.fw p {
  padding-right: 600px;
}
@media (max-width: 991px) {
  .topbar-filter.fw p {
    padding-right: 170px;
  }
}
@media (max-width: 767px) {
  .topbar-filter.fw p {
    padding-right: 0;
  }
}
.topbar-filter.user p {
  padding-right: 300px;
}
.movielist {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: inherit;
  margin-right: -30px;
}
@media (max-width: 991px) {
  .movielist .movie-item-style-2 {
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  .movielist {
    max-width: 200px;
    margin: 0 auto;
  }
}
.movie-item-style-1 {
  display: flex;
  flex-direction: column;
  align-items: inherit;
  width: 170px;
  position: relative;
  margin-right: 23px;
}
.movie-item-style-1 img {
  margin-right: 0;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .movie-item-style-1 {
    margin-left: 15px;
    max-width: 170px;
  }
}
h6{
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 700;
  clear: both;
  line-height: 1;
}
img {
	width: 170px;
    height: 250px;
}
.sidenav {
  width: 400px;
  text-align: center;
  position: fixed;
  z-index: 1;
  top: 30px;
  right: 50px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0px;

}
.sidenav div {
  padding-bottom: 30px;
}

input::placeholder {  
text-align: center; 
}